#main-conteiner{
    position: relative;
}
.menu {
  height: 128px;
  background-color: #0e1649;
  padding-left: 64px;
  padding-top: 32px;
  width: 100%;
  display: inline-block;
  /* position: absolute; */
}
img{
    width: 191.5px;
    height: 64px;
    display: inline-block;
}
.nav-links {
  position: absolute;
  right: 0px;
  margin: auto;
  /* display: inline-block; */
  /* padding-top: -10px;; */
}
